<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <% if (theme !== 'none') { %>
    <link rel="stylesheet" href="/widget.css">
  <% } %>
</head>
<body>
  <form method="POST">
    <input type="text" name="name" placeholder="Anonymous" maxlength="30" />
    <textarea name="comment" placeholder="Write a comment..." maxlength="150" required></textarea>
    <button type="submit">Post Comment</button>
  </form>
  <hr>
  <% for (const { name, content } of comments) { %>
    <div class="comment">
      <strong><%= name %></strong><br>
      <%= content %>
    </div>
  <% } %>
</body>
</html>
